In [172]:
import pandas as pd
url ="https://raw.githubusercontent.com/melihuludag/Technical-Questionnaire-/main/country_vaccination_stats.csv"
df = pd.read_csv(url)
print(df)

        country        date  daily_vaccinations  \
0     Argentina  12/29/2020                 NaN
1     Argentina  12/30/2020             15656.0
2     Argentina  12/31/2020             15656.0
3     Argentina    1/1/2021             11070.0
4     Argentina    1/2/2021              8776.0
...         ...         ...                 ...
1497      Wales   1/20/2021             11105.0
1498      Wales   1/21/2021             12318.0
1499      Wales   1/22/2021             15148.0
1500      Wales   1/23/2021             17371.0
1501      Wales   1/24/2021             17063.0

                                 vaccines
0                               Sputnik V
1                               Sputnik V
2                               Sputnik V
3                               Sputnik V
4                               Sputnik V
...                                   ...
1497  Oxford/AstraZeneca, Pfizer/BioNTech
1498  Oxford/AstraZeneca, Pfizer/BioNTech
1499  Oxford/AstraZeneca, Pfizer/BioNTech
1500  Oxford/AstraZeneca, Pfizer/BioNTech
1501  Oxford/AstraZeneca, Pfizer/BioNTech

[1502 rows x 4 columns]

In [173]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [174]:
df.shape

(1502, 4)

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1442 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## QUESTION 4

Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero).

In [176]:
for header in df.columns.values.tolist():
    print(header)
    print(pd.isnull(df[header]).sum())

country
0
date
0
daily_vaccinations
60
vaccines
0

In [177]:
dp = df.groupby('country')['daily_vaccinations']

In [178]:
dp.get_group("Argentina").head()

0        NaN
1    15656.0
2    15656.0
3    11070.0
4     8776.0
Name: daily_vaccinations, dtype: float64

In [179]:
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(dp.transform('min'))
dp = df.groupby('country')['daily_vaccinations']
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [180]:
dp.get_group("Argentina").head()

0     6483.0
1    15656.0
2    15656.0
3    11070.0
4     8776.0
Name: daily_vaccinations, dtype: float64

In [181]:
for header in df.columns.values.tolist():
    print(header)
    print(pd.isnull(df[header]).sum())

country
0
date
0
daily_vaccinations
1
vaccines
0

In [182]:
dp.get_group("Kuwait").head()

750   NaN
Name: daily_vaccinations, dtype: float64

In [183]:
df.iloc[750]

country                        Kuwait
date                       12/28/2020
daily_vaccinations                NaN
vaccines              Pfizer/BioNTech
Name: 750, dtype: object

In [184]:
df['daily_vaccinations'].fillna(0, inplace = True)
dp = df.groupby('country')['daily_vaccinations']

In [185]:
for header in df.columns.values.tolist():
    print(header)
    print(pd.isnull(df[header]).sum())

country
0
date
0
daily_vaccinations
0
vaccines
0

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## QUESTION 5

Code Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.

In [186]:
a = df.groupby('country')['daily_vaccinations'].median().reset_index()

In [187]:
a.sort_values(by='daily_vaccinations', ascending=False).head(3)

          country  daily_vaccinations
58  United States            378253.0
8           China            276786.0
24          India            173922.0

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## QUESTION 6

What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset?

In [188]:
b = df.groupby('date')['daily_vaccinations']

In [189]:
b.get_group("1/6/2021").sum()

1485255.0